:root {
  --color-bg: #0b0b0f;
  --color-surface: #121218;
  --color-surface-2: #181820;
  --color-text: #f3f3f5;
  --color-text-muted: #a0a0ad;
  --color-border: rgba(255, 255, 255, 0.08);
  --color-accent: #e50914;

  --max-width: 1200px;
  --topbar-height: 72px;

  --radius: 12px;

  --font-main: ui-sans-serif, system-ui, -apple-system, Segoe UI,
    Roboto, Helvetica, Arial;

  --z-topbar: 1000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0 16px;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}



.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 999px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.45);
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}
